*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-image: url(img/01_01.png);
    background-position: cover;
}

.dim{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.303);
}

.wrap2{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.fr_set{
    width: 1100px;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 3;
}
.fr01{
    width: 1100px;
    height: 197px;
    position: relative;
    top: 191px;
    text-align: center;
}
.fr02{
    width: 585px;
    height: 416px;
    background-color: ;
    position: relative;
    left: 132px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.fr02 > img{
    width: 585px;
    height: 90px;
}
.fr03{    
    width: 1100px;
    height: 40px;
    position: absolute;
    bottom: 15px;
    text-align: center;
}

/*--sub01--*/
.s_b00{width: 100%;}

.s_b01{height: 900px;background-color: pink;}
.s_b02{height: 963px;background-color: aqua;}
.s_b03{height: 240px;background-color: pink;}
.s_b04{height: 1894px;background-color: aqua;}

.s_ft{height: 100%;height: 200px;background-color: pink;}